@font-face {
  font-family: rainyhearts;
  src: url("../fonts/rainyhearts.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Kulture;
  src:
    url("../fonts/KultureType.otf") format("opentype"),
    url("../fonts/Kulture╠ê Type.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: SuperJoyful;
  src: url("../fonts/Super Joyful.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: BoldPix;
  src: url("../fonts/BoldPixels.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: FairFax;
  src: url("../fonts/FairfaxHaxHD.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: IosevkaN;
  src: url("../fonts/SGr-Iosevka-Regular.ttc") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("../fonts/JetBrainsMono-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: SourceCode;
  src: url("../fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
